<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="EndToEnd">

    <Appenders>
        <Console name="STDOUT">
            <PatternLayout pattern="%d{ISO8601} %highlight{[%-5p]} [%10c] %m%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="STDOUT" />
        </Root>

        <Logger name="org.veupathdb.lib.s3.s34k" level="debug" additivity="false">
            <AppenderRef ref="STDOUT" />
        </Logger>
    </Loggers>
</Configuration>
